/* Your Stylesheet */

/* All your edits should go here */

#display-01 
{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

#display-01 div 
{
border-color: rgb(16, 38, 235);
border-style: solid;
border-width: 2px;
}

#display-02 span
{
display: block;
border: 2px solid red

}

#display-03
{
    display: flex;
    gap: 20px;
}

#display-03 div
{
width: 50px;
height: 50px;
border: 2px solid green;
}

#display-04::first-line
{

visibility: hidden;
}

#display-05
{
background: grey;
padding: 5px;
justify-content: flex-start;
display: flex;
margin-left: 50%;
position: relative;
}

#boxmodel-01
{
width: 50%;
padding: 30px;
border: 20px solid;
}

#boxmodel-02 
{
width: 25%;
padding: 30px;
border: 20px solid;
border-radius: 40px;
text-align: center;
}

#float-01 img
{
float: left;
width: 100px ;
margin: 0 20px 20px 0;    
vertical-align: top;
}

#float-02 img 
{
float: right;
width: 100px;
margin: 0 20px 20px 0;
vertical-align: top;
}

#float-03 img
{
float: left;
width: 100px;
margin: 30px;
margin: 10px;
clear: both;
}

#position-01 div
{
width: 50px;
height: 50px;
background: red;
color: white;
}

#position-01 div:nth-child(even)
{
margin-left: 50px;
}

#float-06 
{
display: flex;
justify-content: space-between;
gap: 40px;
padding-right: 20px;
}

